<title> Teste de Pagina do Thiago </title>
<h1> Este eh o Titulo da Pagina </h1>
<ul>
<% x = ["maca", "banana", "laranja"] %>
<% x.each do |fruit| %>
	<li> Eu gosto de <%= fruit %> </li>
<% end %>

</ul>
